
.WeatherReport{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid;
    padding: 7%;
}

.Weather{
    color: black;
   


}


.Time{
    color:black;
    
    
}

.Wind{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.Heading{
    color: blue;
    margin-bottom: 50px;
}